<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Enviamos parámetros del rquest HTTP GET - URL</title>
</head>
<body>

	<h1>Enviamos parámetros del rquest HTTP GET - URL</h1>
	
	<ul>
	
	<li><a th:href="@{/params/string(texto='Hola Rodrigo')}">Saludo a Rodrigo</a></li>
	<li><a th:href="@{/params/string(texto='Hola Yanina')}">Saludo a Yanina</a></li>
	
	<li><a th:href="@{/params/mix-params(saludo='Cómo estás Yanina', numero=7)}">Saludo a Yanina Nro. 2</a></li>
	
	<li><a th:href="@{/params/mix-params-request(saludo='Cómo estás Yanina', numero=8)}">Saludo a Yanina Nro. 2</a></li>
	
	</ul>
	
</body>
</html>