<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Recibir parámetros del rquest HTTP GET - URL</title>
</head>
<body>
<h1>Recibir parámetros del rquest HTTP GET - URL</h1>
<div th:text="${resultado}"></div>

</body>
</html>