<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>

<h1 th:text="${titulo}"></h1>

<ul>
<li><a th:href="@{/variables/string/}+'Hola Rodrigo'">Saludos a Rodrigo</a></li>
<li><a th:href="@{/variables/string/}+'Hola Yanina'">Saludos a Yanina</a></li>
<li><a th:href="@{/variables/string/}+'Hola Micho' + '/' + 7">Saludos a Micho</a></li>
</ul>

</body>
</html>