<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<h1 th:text="${titulo}"></h1>

	<div th:if="${listaUsuarios.isEmpty()}">no hay usuarios en la
		lista</div>

	<!-- Cuando contenga elementos -->

	<table th:if="${not listaUsuarios.isEmpty()}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${listaUsuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>

			</tr>
		</tbody>

	</table>

</body>
</html>