<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>

<h1 th:text="${titulo}"></h1>

<span th:text="${usuario.nombre}"></span>
<span th:text="${usuario.apellido}"></span>

<br>

<span th:if="${usuario.email}" th:text="${usuario.email}"></span>

<!-- DOS MANERAS DE DE ENVIAR MENSAJE SI NO EXISTE EMAIL -->
<!-- <span th:if="${usuario.email == null}" th:text="'El usuario no tiene email'"></span> -->
<span th:if="${usuario.email == null}">El usuario no tiene email</span>

</body>
</html>